<!-- <courses></courses> -->
<!-- <authors></authors> -->
<!-- <favorite></favorite> -->

<!-- <input type="text" [(ngModel)]="title">
<br>
{{ title | titleCase }} -->

<!-- property binding -->
<!-- <img [src]="imagUrl" /> -->
 <!-- event binding  -->
 <!-- <button (click)="onClick()"></button> -->

 <!-- <favorite [isfavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite> -->

 <!-- <bootstrap-panel>
     <ng-container class="heading">Heading</ng-container>
     <ng-container class="body">
         <h2>Body</h2>
         <p>Some content here</p>
     </ng-container>
 </bootstrap-panel> -->

 <app-like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked" 
 ></app-like>
